/* * {
    border: 2px solid red;
} */

h1, h2 {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid purple;
}

p {
    max-width: 800px;
    margin: auto;
    background-color: aquamarine;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
}

.img-container {
    max-width: 800px;
    margin: auto;
}

img {
    display: block;
    width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
}

ul, ol {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    list-style-position: inside;
    margin-bottom: 10px;
}

ul {
    text-align: center;
}

.main-list {
    list-style: none;
}

.main-list-item a {
    text-decoration: none;
    padding: 3px;
    font-size: 20px;
    color: black;
    display: block;
    border-radius: 10px;
    background-color: rgb(219, 217, 213);
}

.main-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px;
    max-width: 800px;
    height: 100px;
    margin-bottom: 8px;
    background-size: cover;
    background-origin: border-box;
    background-position: center;
    filter: grayscale(100%);
}

.main-list-item:hover {
    filter: grayscale(0%);
}